@import url('https://fonts.googleapis.com/css2?family=Prompt&family=Radio+Canada&display=swap');

body{
    background-color: pink;
}

ul li{
    list-style: none;
    display: inline-flex;
}

button{
    border: none;
    padding: 5px;
}

.top-nav{
    display: flex;
    justify-content: flex-end;
    font-family: 'Prompt', sans-serif;
}

.main-nav{
    display: flex;
    justify-content: space-around;
    font-family: 'Radio Canada', sans-serif;
}

.main-nav input, .main-nav select{
    border: none;
    padding: 5px;
}
.top-nav a{ color: black; }

button{
    border-radius: 2px;
    padding: 5px 10px;
}
