{% extends 'base.html' %}
{% block title %}

{% endblock title %}
{% block content %}

<div class="top-story">

                  <div class="container col-xxl-8 px-4 py-5">
                    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                      <div class="col-10 col-sm-8 col-lg-6">
                        <img src="bootstrap-themes.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                      </div>
                      <div class="col-lg-6">
                        <h6>Politics</h6>
                        <h1 class="display-5 fw-bold lh-1 mb-3">The Scars of War Will Remain There for Life, Published Study Finds</h1>
                        <p class="lead">I actually first read this as alkalizing meaning eeffecting pH level, and I was like, OK I guess i understand how that could
                    positively effect...</p>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
                          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
    <div class="container">
        <div class="row">
            <div class="top-headlines col col-md-8">

                <h4>Top Headlines</h4>
                <h6>Politics</h6>
                <h2>The Scars of War Will Remain There for Life, Published Study Finds</h2>
                <p>I actually first read this as alkalizing meaning eeffecting pH level, and I was like, OK I guess i understand how that could
                positively effect...</p>

                <h3>Companies Will Invest At Least $125 Billiion in Metaverse Development</h3>
                <h5>Finance</h5> <h6>March 8, 2022</h6>

                <h3>Companies Will Invest At Least $125 Billiion in Metaverse Development</h3>
                <h5>Finance</h5> <h6>March 8, 2022</h6>
            </div>
            <div class="col-md-2">
                {% for new, des, im in context %}
                    <img src="{{ im }}" alt="">
                    <h3> News: {{ new }}</h3>
                    <h4>Description: {{ des }} </h4>
                {% endfor %}


            </div>


        </div> <!-- .row -->

    </div> <!-- container -->
{% endblock content %}