{% extends base.html %}
{% extends 'base.html' %}
{% block title %}
    Home Page
{% endblock title %}
{% block content %}
    <div class="container">
        <h1>The Scars of War Will Remain There for Life, Published Study Finds </h1>
        <p>
            By: <span> Lara Burns </span>
            Date: <span> March 8, 2022</span>
        </p>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <img src="" alt="">
        <p>Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet ...</p>

    </div>
    <!-- /.container -->


{% endblock content %}